.weather-widget-author {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  color: $text-color-secondary;
  padding: 0px 40px 40px;
}

.social-link {
  width: 100%;
  max-width: 30px;
}

.author-image {
  width: 100%;
  max-width: 60px;
}

@media (max-width: 770px) {
  .weather-widget-author {
    font-size: 18px;
  }

  .social-link {
    max-width: 20px;
  }

  .author-image {
    max-width: 30px;
  }
}
