.weather-widget-forecast__main {
  width: 300px;
  min-width: 300px;
  background: $background-color-secondary;
  padding: 20px;
  border-radius: 10px;
  color: $text-color-primary;
  display: flex;
  flex-direction: column;

  &-date-day {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: Lato Bold;
  }

  &-date {
    margin-bottom: 20px;
  }

  &-city {
    margin-bottom: 5px;
    text-align: center;
    font-size: 32px;
    font-family: Lato Bold;
  }

  &-icon {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }

  &-temperature {
    margin-bottom: 30px;
    text-align: center;
  }

  &-description {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    display: inline;
  }

  &-detail {
    display: block;
    margin: 0 auto;
    text-align: start;
    color: $text-color-third;
    margin-bottom: 10px;
  }
}

.main-icon {
  width: 100%;
}

.main-temperature-current-value {
  font-size: 80px;
  display: inline;
}

.main-temperature-units {
  font-size: 24px;
  display: inline;
  position: relative;
  top: -40px;
}

.main-temperature-degree {
  text-decoration: none;
  color: $text-color-third;
}

.pipe {
  display: inline-block;
  height: 20px;
  width: 2px;
  background: $text-color-third;
}

.detail__icon {
  width: 100%;
  max-width: 30px;
  max-height: 18px;
  margin-right: 10px;
}

.active {
  color: $text-color-primary;
}

@media (max-width: 1299px) {
  .weather-widget-forecast__main {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &-block {
      width: 30%;
    }

    &-date-day {
      text-align: center;
      margin-bottom: 20px;
    }

    &-date {
      text-align: center;
    }

    &-city {
      font-size: 40px;
    }

    &-detail {
      margin-bottom: 20px;
      font-size: 22px;
    }
  }

  .detail__icon {
    max-width: 40px;
    max-height: 35px;
  }
}

@media (max-width: 945px) {
  .weather-widget-forecast__main {
    &-description {
      font-size: 30px;
    }

    &-detail {
      font-size: 18px;
      text-align: center;
    }
  }

  .main-temperature-current-value {
    display: block;
    margin-bottom: 10px;
  }

  .detail__icon {
    max-width: 30px;
    max-height: 18px;
  }
}

@media (max-width: 770px) {
  .weather-widget-forecast__main {
    flex-direction: column;
    margin: 0 auto;

    &-block {
      width: 100%;
    }
  }
}
