.weather-widget-forecast__secondary {
  color: $text-color-secondary;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 20px;
  width: 950px;
  min-width: 950px;
}

.secondary-item-wrapper {
  width: 150px;
  text-align: center;
}

.secondary-item {
  &__weekday {
    margin-bottom: 10px;
    font-size: 28px;
    font-family: Lato Bold;
  }

  &__data {
    margin-bottom: 20px;
  }

  &__icon {
    margin-bottom: 20px;

    img {
      width: 100%;
      max-width: 100px;
    }
  }

  &__temperature {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__description {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__card-icon {
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
  }

  &__card-name {
    margin-bottom: 20px;
    font-family: Lato Bold;
  }

  &__card-value {
    margin-bottom: 20px;
  }
}

@media (max-width: 1299px) {
  .weather-widget-forecast__secondary {
    margin: 0 auto;
  }
}

@media (max-width: 1030px) {
  .weather-widget-forecast__secondary {
    width: 100%;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .secondary-item-wrapper {
    width: 30%;
  }

  .secondary-item {
    &__data {
      margin-bottom: 0px;
    }

    &__icon {
      margin-bottom: 0px;
    }

    &__temperature {
      margin-bottom: 5px;
    }

    &__description {
      margin-bottom: 40px;
    }
  }

  .secondary-item__card {
    display: none;
  }
}

@media (max-width: 550px) {
  .secondary-item-wrapper {
    width: 50%;
  }
}
