.weather-widget-search {
  padding: 40px 40px 20px 40px;
  display: flex;
  justify-content: space-between;

  &__form {
    display: flex;
    gap: 5px;
  }

  &__input {
    width: 300px;
    height: 50px;
    background: $background-color-secondary;
    border-radius: 10px 0 0 10px;
    border: $background-color-secondary;
    color: $text-color-primary;
    font-size: 20px;
    padding: 10px;

    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }

  &__input-button {
    width: 120px;
    height: 50px;
    background: $background-color-secondary;
    border-radius: 0 10px 10px 0;
    border: $background-color-secondary;
    color: $text-color-primary;
    font-size: 20px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    img {
      width: 30px;
    }
  }

  &__location-button {
    width: 220px;
    height: 50px;
    background: $background-color-secondary;
    border-radius: 10px;
    border: $background-color-secondary;
    color: $text-color-primary;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    img {
      width: 30px;
    }
  }
}

::placeholder {
  color: $text-color-primary;
  font-size: 20px;
}

:-ms-input-placeholder {
  color: $text-color-primary;
  font-size: 20px;
}

::-ms-input-placeholder {
  color: $text-color-primary;
  font-size: 20px;
}

@media (max-width: 770px) {
  .weather-widget-search {
    &__input {
      width: 200px;
      padding: 5px;
    }

    &__input-button {
      width: 40px;
      display: block;
      padding: 0px 0px 0px;
    }

    &__location-button {
      width: 50px;
      display: block;
      padding: 0px 0px 0px;
    }
  }

  .weather-widget-search__text {
    display: none;
  }
}
