@import "variables.scss";
@import "fonts.scss";
@import "search.scss";
@import "forecast-main.scss";
@import "forecast-secondary.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: Lato Regular;
  font-size: 18px;
}

.weather-widget {
  width: 100%;
  max-width: 1350px;
  min-width: 380px;
  height: auto;
  margin: 30px auto;
  background: linear-gradient(
    180deg,
    $background-color-primary,
    $background-color-third
  );

  &-forecast {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px;
  }
}

@media (max-width: 1299px) {
  .weather-widget-forecast {
    display: block;
  }
}
